<%= render 'navbar' %>

<h1 id="page-header">Add a new Image</h1>

<%= simple_form_for @image, html:{id: 'image_form'}, url: images_path do |form| %>
  <%= form.error_notification %>

  <%= form.input :url, label: 'Image URL:' %>

  <%= form.button :submit, class: 'btn btn-primary' %>
<% end %>
